<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzr.com.learn_lib">

    <application>
        <activity android:name=".LearnMainActivity" />
        <activity android:name=".uiactivity.ClockUiActivity" />
        <activity android:name=".uiactivity.DrawUseActivity" />
        <activity android:name=".uiactivity.DrawBitmapActivity" />
        <activity android:name=".uiactivity.DrawAcreActivity" />
        <activity android:name=".uiactivity.DrawLineActivity" />
        <activity android:name=".uiactivity.BezierActivity" />
        <activity android:name=".uiactivity.TextActivity" />
        <activity android:name=".uiactivity.WordActivity" />
        <activity android:name=".uiactivity.PathMeasureActivity" />
        <activity android:name=".uiactivity.TouchLineActivity" />
        <activity android:name=".funactivity.ForceKillActivity" />
        <activity android:name=".uiactivity.RegionActivity" />
        <activity android:name=".uiactivity.RegionClickActivity" />
        <activity android:name=".uiactivity.CanvasVonvertTouchActivity" />
        <activity android:name=".uiactivity.RemoteControlMenuActivity" />
        <activity android:name=".uiactivity.PinYinAndHanziActivity" />
        <activity android:name=".uiactivity.TextFlickerActivity" />
        <activity android:name=".uiactivity.OnlyHanziActivity" />
        <activity android:name=".uiactivity.OnlyPingyinActivity" />
        <activity android:name=".uiactivity.CustomPinYinAndHanziActivity" />
        <activity android:name=".uiactivity.MeasureViewActivity" />
        <activity android:name=".uiactivity.TwinkleActivity" />
        <activity android:name=".uiactivity.ProgressActivity" />
        <activity android:name=".uiactivity.SelectTextViewWordActivity" />
        <activity android:name=".uiactivity.WavActivity" />
        <activity android:name=".uiactivity.ViewFlipperActivity" />
        <activity android:name=".uiactivity.ScrollerActivity"></activity>
    </application>

</manifest>